<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Save the World in 30 Minutes" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <% if current_user %>

<%= link_to 'Settings', edit_user_registration_path(current_user) %>
<%= link_to 'Sign out', destroy_user_session_path, :method => 'delete' %>
<!-- need an else in here if I change it. -->


<!-- <%= link_to 'Sign in', new_user_session_path %> -->

<!-- <%= link_to 'Sign Up', new_user_registration_path %> -->
<% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="row">
    <h2><%= link_to 'Save the World in 30 Minutes', activities_path %></h2>

      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>